<v-card max-width="200" style="margin: 10px;">
  <v-img class="white--text align-end" height="200px" :src="image.thumbnail">
    <!-- <v-card-title>{{image.title}}</v-card-title> -->
  </v-img>

  <v-card-subtitle class="pb-0">{{ image.title }}</v-card-subtitle>

  <v-card-text class="text--primary">
    <div>사이즈 : {{ image.width }} x {{ image.height }}</div>
    <div>{{ image.source }}</div>
  </v-card-text>

  <v-card-actions>
    <v-btn color="orange" text @click="copyToClipboard">
      Copy
    </v-btn>
  </v-card-actions>
</v-card>
