<div id="app">
  <v-app id="inspire">
    <v-app-bar app color="blue darken-3" dark>
      <v-toolbar-title style="width: 300px" class="ml-0 pl-4">
        <span class="hidden-sm-and-down">{{ title }}</span>
      </v-toolbar-title>
      <v-text-field
        flat
        solo-inverted
        prepend-inner-icon="mdi-magnify"
        label="검색"
        v-model="searchText"
        @keyup.enter="getImages()"
        :disabled="this.$apollo.queries.jjal.loading"
        clearable="true"
      />
      <v-spacer />
    </v-app-bar>
    <v-content>
      <v-container class="fill-height" fluid>
        <Card v-for="image, idx in jjal" :v-key="idx" :image="image"></Card>
      </v-container>
      <v-overlay :value="this.$apollo.queries.jjal.loading">
        <v-progress-circular indeterminate size="64"></v-progress-circular>
      </v-overlay>
    </v-content>
  </v-app>
</div>
